
$main-brown: #140d0b;
$main-pink: #ef9691;
$main-yellow: #e1a920;
$light-brown: #ecd0ac;
$white: #fff;
$pri-type: 'Big Shoulders Display',
cursive;
$sec-type: 'playball',
cursive;





// Homestyle

.bgcolor{
 background-color: #ffefef;
}



#home {
 position: relative;
 width: 100vw;
 height: 100vh;

.display {
 height: 100vh;
 transition: all 1s ease-in;
}

.rotate{
 transform: rotate(90deg);
 transition: all 1s ease-in;
}

 #mobile-menu{
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 2rem;
  color: #e1a920;
  z-index: 11;
  cursor: pointer;
  transition: transform 1s ease-in;
  display: none;
 }

 #background {
  width: 100%;
  height: 100%;
  background: url(../pics-icons/alt-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  filter: blur(0.1rem);
 }


 nav {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  ul {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 1.5rem;
   list-style: none;

   .logo {
    margin-right: auto;
   }

   img {
    width: 6rem;
   }

   .nav-item {
    width: 10%;
    padding: .5rem;
    text-align: center;
    font-family: $pri-type;
    font-weight: 800;
    font-size: 1.15rem;
    letter-spacing: .05rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    
    a{
      color: $main-yellow;
      text-decoration: none;
    }


    &:hover {
     transform: scale(1.1);
     transition: all 0.5s ease;
    }
   }
  }

 }

 #center {
  position: absolute;
  top: 2%;
  left: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
   font-family: $sec-type;
   font-size: 3.5rem;
   color: whitesmoke;
   text-shadow: 0.2rem 0 rgb(0, 0, 0);
  }
 }


}

// Homestyle End